.btn {
  &,
  &:link,
  &:visited {
    @include btn-text;

    background: $button-color;
    color: $button-text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 48px;
    display: inline-block;
    border-radius: 28px;
    position: relative;


    //Change for the <button> element
    border: none;
    cursor: pointer;
  }



}
